---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import "../../public/styles.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografías.com</title>
</head>
<body>
<Navbar></Navbar>
<h1 class="title-principal">Las mejores biografías de artistas, empresarios y tecnólogos, las encuentras aquí!!</h1>
<p class="subtitle">Biografías disponibles: </p>
<br/>
<Card></Card>
<Footer></Footer>
</body>
</html>
