---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "./../../public/styles.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografía de Carlos Slim</title>
</head>
<body>
    <Navbar></Navbar>
    <h1 class="title-principal">Biografía de Carlos Slim</h1>
    <br/>
    <img class="img-page1" src="/img/Carlos-slim.jpg" alt="imagen">
    <br/>
    <p class="parr">Carlos Slim Helú es un empresario y filántropo mexicano nacido el 28 de enero de 1940 en la Ciudad de México. Es considerado uno de los hombres más ricos e influyentes del mundo. Estudió ingeniería civil en la Universidad Nacional Autónoma de México (UNAM) y desde joven mostró talento para las finanzas y los negocios.</p>
    <p class="parr">Slim construyó su imperio a través de Grupo Carso, un conglomerado con intereses en sectores como telecomunicaciones, construcción, comercio, energía y finanzas. Es especialmente reconocido por su papel como líder de América Móvil, la mayor empresa de telecomunicaciones en América Latina.</p>
    <p class="parr">Durante su carrera, ha recibido múltiples reconocimientos por su visión empresarial y compromiso filantrópico. A través de la Fundación Carlos Slim, ha impulsado proyectos en educación, salud, cultura y desarrollo social, beneficiando a millones de personas en México y otros países.</p>
    <Footer></Footer>
</body>
</html>
