---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "./../../public/styles.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografía de Elon Musk</title>
</head>
<body>
    <Navbar></Navbar>
    <h1 class="title-principal">Biografía de Elon Musk</h1>
    <br/>
    <img class="img-page1" src="/img/elon.jpg" alt="imagen">
    <br/>
    <p class="parr">Elon Musk es un empresario, inventor e innovador nacido el 28 de junio de 1971 en Pretoria, Sudáfrica. A lo largo de su carrera, Musk ha sido reconocido como una de las figuras más influyentes en tecnología y negocios a nivel mundial. Estudió en la Universidad de Pretoria antes de emigrar a Estados Unidos, donde obtuvo títulos en física y economía en la Universidad de Pensilvania.</p>
    <p class="parr">Musk es cofundador de varias empresas icónicas. En 1999, fundó X.com, que luego se convirtió en PayPal, revolucionando los pagos electrónicos. Es el fundador, CEO y líder técnico de SpaceX, una empresa que ha transformado la industria aeroespacial al desarrollar cohetes reutilizables y planea colonizar Marte. Como CEO y arquitecto de producto en Tesla, Inc., ha popularizado los vehículos eléctricos y promovido la energía sostenible.</p>
    <p class="parr">Además, Musk fundó The Boring Company, dedicada a la construcción de túneles para transporte urbano; Neuralink, que busca conectar cerebros humanos con computadoras; y OpenAI, una organización de investigación en inteligencia artificial. En 2022, adquirió Twitter, renombrándolo como X, para ampliar su visión de una plataforma de comunicación y servicios integrada.</p>
    <p class="parr">Su estilo audaz y su capacidad para abordar desafíos globales lo han consolidado como un visionario, aunque también ha enfrentado críticas por su liderazgo controvertido y su carácter polarizador.
    </p>
    <Footer></Footer>
</body>
</html>
