---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "./../../public/styles.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografía de Mark Zuckerberg</title>
</head>
<body>
    <Navbar></Navbar>
    <h1 class="title-principal">Biografía de Mark Zuckerberg</h1>
    <br/>
    <img class="img-page1" src="./../../public/img/Mark-Zuckerberg-Meta.jpeg" alt="imagen">
    <br/>
    <p class="parr">Mark Zuckerberg es un empresario y programador estadounidense nacido el 14 de mayo de 1984 en White Plains, Nueva York. Estudió ciencias de la computación en la Universidad de Harvard, donde, en 2004, cofundó Facebook junto a sus compañeros de dormitorio. Inicialmente creada como una red social para estudiantes universitarios, Facebook creció rápidamente y se convirtió en una de las plataformas más influyentes del mundo.</p>
    <p class="parr">Zuckerberg es el presidente y CEO de Meta Platforms, la empresa matriz de Facebook, Instagram, WhatsApp y otros servicios. Bajo su liderazgo, Meta ha impulsado avances en inteligencia artificial, realidad aumentada y virtual, con una visión centrada en el desarrollo del metaverso.</p>
    <p class="parr">Reconocido como uno de los empresarios más exitosos de su generación, 
        Zuckerberg también es filántropo y, junto a su esposa, Priscilla Chan, fundó la Iniciativa Chan Zuckerberg, enfocada en educación, salud y ciencia.</p>
    
    <Footer></Footer>
</body>
</html>