---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "./../../public/styles.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografía de Steve Jobs</title>
</head>
<body>
    <Navbar></Navbar>
    <h1 class="title-principal">Biografía de Steve Jobs</h1>
    <br/>
    <img class="img-page1" src="./../../public/img/steveJobs.jpg" alt="imagen">
    <br/>
    <p class="parr">Steve Paul Jobs fue un empresario, inventor y visionario tecnológico estadounidense, conocido por ser cofundador de Apple Inc. 
        Nació el 24 de febrero de 1955 en San Francisco, California, y fue adoptado por Paul y Clara Jobs. En 1976, junto con Steve Wozniak y Ronald Wayne, fundó Apple desde el garaje de sus padres, revolucionando la industria tecnológica con la introducción de la Apple I y la Apple II.</p>
    <p class="parr">Jobs desempeñó un papel crucial en el desarrollo de productos innovadores como el Macintosh, el iPod, el iPhone y el iPad, que transformaron la forma en que las personas trabajan, se comunican y disfrutan del entretenimiento. Tras ser despedido de Apple en 1985, fundó NeXT Inc., una empresa de computación avanzada, y adquirió Pixar Animation Studios, convirtiéndola en un líder en la animación digital con películas como Toy Story.</p>
    <p class="parr">En 1997, regresó a Apple cuando la compañía estaba al borde del colapso, llevándola a convertirse en una de las empresas más valiosas del mundo. Conocido por su enfoque en la simplicidad, la experiencia del usuario y el diseño, Jobs dejó un legado que continúa definiendo la tecnología moderna.
    Falleció el 5 de octubre de 2011 debido a complicaciones relacionadas con un cáncer de páncreas. Su visión e impacto siguen siendo una fuente de inspiración en la industria tecnológica.</p>
    <p class="parr">Opinión personal: Sin duda, un gran visionario tecnológico y empresario, el cual dejó un legado y los productos
        de Apple inc que llegaron a cambiar la vida de varias personas.  Q. E. P. D. Steve Jobs (1955-2011)
    </p>
    <Footer></Footer>
</body>
</html>