---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "./../../public/styles.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografía de Guillermo del Toro</title>
</head>
<body>
    <Navbar></Navbar>
    <h1 class="title-principal">Biografía de Guillermo del Toro</h1>
    <br/>
    <img class="img-page1" src="./../../public/img/guillermo.jpg" alt="imagen">
    <br/>
    <p class="parr">Guillermo del Toro (nacido el 9 de octubre de 1964 en Guadalajara, México) es un cineasta, guionista y productor mexicano, conocido por su estilo único en el cine de fantasía, horror y ciencia ficción. 
        Comenzó su carrera con Cronos (1993), y alcanzó fama internacional con El laberinto del fauno (2006), que ganó tres premios Óscar. También dirigió La forma del agua (2017), que obtuvo cuatro premios Óscar, incluyendo Mejor Director y Mejor Película. Del Toro es reconocido por sus diseños visuales, el uso de efectos especiales y su fascinación por los monstruos, además de su habilidad para contar historias que combinan lo fantástico con lo humano. Además de su carrera cinematográfica, ha sido escritor y productor de diversas obras en cine y televisión.
</p>
  
    <Footer></Footer>
</body>
</html>