---
import "../../public/styles.css";

---
<a href="/page1" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Steve Jobs</h5>
<p class="font-normal text-gray-700 dark:text-gray-400">Fue un empresario, inventor y visionario tecnológico estadounidense, conocido por ser cofundador de Apple Inc.</p>
</a>
<br/>
<a href="/page2" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Elon Musk</h5>
<p class="font-normal text-gray-700 dark:text-gray-400">Es un empresario, inversor, activista político conservador​​ y magnate.​ Es el fundador, consejero delegado e ingeniero en jefe de SpaceX; inversor ángel, director general y arquitecto de productos de Tesla, Inc.</p>
</a>
<br/>
<a href="/page3" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mark Zuckerberg</h5>
<p class="font-normal text-gray-700 dark:text-gray-400">Es uno de los fundadores de Facebook y la red social homónima, y su actual presidente.</p>
</a>
<br/>
<a href="/page4" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Carlos Slim</h5>
<p class="font-normal text-gray-700 dark:text-gray-400">Empresario e ingeniero mexicano. Es el decimonoveno hombre más rico del mundo, ya que posee bienes que ascienden a los 84 700 millones de dólares, ​​ lo cual representa alrededor del 6% del producto interno bruto de México y lo convierte en la persona más rica de México y de América Latina.​ </p>
</a>

<br/>
<a href="/page5" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Guillermo del Toro</h5>
<p class="font-normal text-gray-700 dark:text-gray-400">Es un director cinematográfico, guionista y productor de cine mexicano. Ha logrado ser galardonado con el Premio Goya y varias veces con el Premio Ariel.</p>
</a>
    